<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <nlog autoReload="true" internalLogFile="${basedir}/log/internal.log" >

    <targets>
      <target name="console" type="Console"
        layout="${date} ${level:uppercase=true} ${message} (${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}) ${exception:format=ToString,StackTrace}" />
      <target name="commonLog" type="File" fileName="${basedir}/log/common.log"
        layout="${date} ${level:uppercase=true} ${message} (${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}) ${exception:format=ToString,StackTrace}"
        createDirs="true" />
    </targets>

    <rules>
      <logger name="*" minlevel="Info" writeTo="console" />
      <logger name="*" minlevel="Info" writeTo="commonLog" />
    </rules>

  </nlog>

</configuration>